.ng-dialog-open {
    overflow: hidden;
}
.ng-dialog {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background: rgba(0,0,0,0.6);
    z-index: 1000;

    .ng-dialog-body {
        position: relative;
        width: 600px;
        margin: 30px auto;
        background-color: #fff;
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 6px;
        outline: 0;    
        .ng-dialog-close {
            position: absolute;
            top: 7px;
            right: 10px;
            font-size: 18px;
            cursor: pointer;
            font-weight: 600;
            opacity: 0.3;
            border: none;
            background: transparent;
            &::before {
                content: '×';
            }
        }
    }
}