<div>
    <form (submit)="saveTodo()">
        <h4>Add todo here</h4>
        <input class="form-control" type="text" [(ngModel)]="todoModel.title" />
        <h4>Todo List</h4>
        <div class="list-group">
            <a href="#" *ngIf="todoService.todos.length == 0" class="list-group-item">
                No Todos yet!
            </a>
            <a *ngFor="let todo of todoService.todos" class="list-group-item" [routerLink]="['todo/details', todo.id]">
                {{todo.title}}
            </a>
        </div>
    </form>
</div>